.toolBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    min-width: 50px;
    min-height: 50%;
    position: absolute;
    top: 1em;
    bottom: 1em;
    right: 1em;
}

.buttonStyle {
    margin: 20;
    display: flex;
}