.map {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 70%;
    min-height: 90%;
    margin: 10px;
}

.ol-zoom {
    top: auto !important;
    right: 0.5em !important;
    bottom: 1em !important;
    left: auto;
    font-size: 1.4em;
    border-radius: 0px;
}