.toolBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $ubigu;
    min-width: 50px;
    min-height: 50%;
    opacity: 0.5;
    position: absolute;
    top: 1em;
    bottom: 1em;
    right: 1em;
}