.toolBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    min-width: 50px;
    min-height: 50%;
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 1em;
}