html {
    font-size: 62.5%;
}

body {
    font-size: 1.2rem;
    font-family: $roboto;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}