html {
    font-size: 62.5%;
}

body {
    font-family: monospace;
    font-size: 1.6rem;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #A0C060;
    padding: 40px;
    min-width: 800px;
    min-height: 600px;
}

.header {
    position: absolute;
    top: 40px;
}